[Desktop Entry]
Name=L&R
GenericName=Stereo Test
Comment=Test channels of stereo
Comment[de]=Stereokanäle testen
Exec=lundr
Icon=gtk-close
Terminal=false
Type=Application
Categories=GTK;Utility;
